<div class="note-wrapper">
  <div class="note-content">
    <div class="notes-header">
      <h1 title="Notes">Notes</h1>
    </div>

    <nw-category-select active-category="activeCategory"></nw-category-select>

    <label>Search</label>
    <input ng-model="search.$" />

    <div class="note-wrapper">
      <a class="card-notes" ng-repeat="note in notes | filter: {category: {id: activeCategory}}
        | filter: search">

        <nw-card header="note.title" body="note.description"></nw-card>

      </a>
    </div>

  </div>
</div>
